In [1]:
import pandas as pd

g = pd.read_csv('geoje_poi_content.csv')

In [2]:
g.head()

,keyword,address_name,category_group_code,category_group_name,category_name,distance,id,phone,place_name,place_url,road_address_name,x,y,content
0,"여행,가볼만한 곳,여행,가볼만한 곳,여행,가볼만한 곳",경남 거제시 일운면 구조라리 423-1,AT4,관광명소,"여행 > 관광,명소 > 해수욕장,해변",NaN,11026203,055-639-3000,구조라해수욕장,http://place.map.kakao.com/11026203,경남 거제시 일운면 거제대로 2056,128.692890,34.806965,여행 가볼만한곳 여행 가볼만한곳 여행 가볼만한곳 관광명소
1,"여행,가볼만한 곳",경남 거제시 일운면 와현리 산 109,AT4,관광명소,"여행 > 관광,명소 > 수목원,식물원",NaN,8021411,055-681-4541,외도보타니아,http://place.map.kakao.com/8021411,NaN,128.711651,34.769296,여행 가볼만한곳 관광명소
2,"여행,가볼만한 곳,여행,가볼만한 곳",경남 거제시 일운면 망치리,AT4,관광명소,"여행 > 관광,명소 > 해수욕장,해변",NaN,7862496,NaN,망치몽돌해수욕장,http://place.map.kakao.com/7862496,NaN,128.667764,34.812460,여행 가볼만한곳 여행 가볼만한곳 관광명소
3,"여행,가볼만한 곳,여행,가볼만한 곳,여행,가볼만한 곳",경남 거제시 일운면 와현리 431-2,AT4,관광명소,"여행 > 관광,명소 > 해수욕장,해변",NaN,11297994,055-639-3000,와현모래숲해수욕장,http://place.map.kakao.com/11297994,경남 거제시 일운면 와현해변길 15,128.708607,34.812672,여행 가볼만한곳 여행 가볼만한곳 여행 가볼만한곳 관광명소
4,"여행,가볼만한 곳,여행,가볼만한 곳,여행,가볼만한 곳",경남 거제시 일운면 옥림리 57-1,AT4,관광명소,"여행 > 관광,명소 > 섬",NaN,8559153,NaN,지심도,http://place.map.kakao.com/8559153,경남 거제시 일운면 지심도길 31-2,128.749383,34.817140,여행 가볼만한곳 여행 가볼만한곳 여행 가볼만한곳 관광명소

In [3]:
g = g.drop(['keyword','address_name','category_group_name','id', 'phone', 'place_url','road_address_name','category_group_code', 'category_name', 'distance', 'content'], axis=1)
g.head()

  place_name           x          y
0    구조라해수욕장  128.692890  34.806965
1     외도보타니아  128.711651  34.769296
2   망치몽돌해수욕장  128.667764  34.812460
3  와현모래숲해수욕장  128.708607  34.812672
4        지심도  128.749383  34.817140

In [4]:
g.columns = ['title', 'x', 'y']
g

          title           x          y
0       구조라해수욕장  128.692890  34.806965
1        외도보타니아  128.711651  34.769296
2      망치몽돌해수욕장  128.667764  34.812460
3     와현모래숲해수욕장  128.708607  34.812672
4           지심도  128.749383  34.817140
...         ...         ...        ...
1094      꽃다비카페  128.646210  34.869152
1095       커피향기  128.645399  34.872120
1096       J커피점  128.659529  34.869984
1097   아인츠디자인카페  128.638484  34.890029
1098     까페더홀가분  128.646907  34.871173

[1099 rows x 3 columns]

In [5]:
a = []

for i in range(1099):
    a.append((g.y[i], g.x[i]))

In [6]:
g['latlng'] = a
g = g.drop(['x', 'y'], axis = 1)

In [7]:
g.head()

       title                                   latlng
0    구조라해수욕장     (34.8069653420412, 128.692890014526)
1     외도보타니아  (34.76929638286456, 128.71165107261427)
2   망치몽돌해수욕장       (34.8124604776131, 128.6677635931)
3  와현모래숲해수욕장     (34.8126723797355, 128.708607262648)
4        지심도     (34.8171399075149, 128.749383452749)

In [8]:
g.latlng

0          (34.8069653420412, 128.692890014526)
1       (34.76929638286456, 128.71165107261427)
2            (34.8124604776131, 128.6677635931)
3          (34.8126723797355, 128.708607262648)
4          (34.8171399075149, 128.749383452749)
                         ...
1094       (34.8691523463088, 128.646210377067)
1095     (34.87211950568333, 128.6453990474962)
1096       (34.8699842881488, 128.659528857886)
1097    (34.89002925929693, 128.63848443703952)
1098    (34.87117257980628, 128.64690679171238)
Name: latlng, Length: 1099, dtype: object

In [9]:
g.to_csv('geoje_data_f.csv', index=False, encoding="utf-8-sig")